<!-- <div class="row" style="margin:0px; padding:0px" >
  <div class="col s12 m12" style="margin:0px; padding:0px">
      <img class="responsive-img" style="height:99.1vh;width:100vw" src="https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg" alt="">
  </div>
</div> -->


<div *ngIf="!OrderTokenInfo" class = "iris">
  <div class = "">
   <div class="row">
    <div class="col m6 ">
      <i class="large material-icons right  ">restaurant_menu</i>

    </div>
   </div>
   <div class="row"></div>
    <div class="row z-depth-5">
      <div class="col s12 m12 ">

          <h1 class="" style="font-size: 60px; font-weight:bold;font-family: 'Cairo', sans-serif;color:rgb(11, 6, 159)">WELCOME TO PREGO RESTURANT</h1>
      </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row" >
      <div class="col m4 offset-m2">
        <a [routerLink]="['/dashboard']" style="font-size: 20px;font-weight:bold;font-family: 'Cairo', sans-serif;" class="btn waves-effect waves-light deep-orange accent-2 btn-large" type="submit" name="action">ORDER FOOD
          <i class="material-icons right">restaurant</i>
        </a>
      </div>

      <div class="col m4  ">
        <button (click)="order_status()" style="font-size: 20px;font-weight:bold;font-family: 'Cairo', sans-serif;" class="btn waves-effect waves-light  teal accent-4 btn-large" type="submit" name="action">ORDER STATUS
          <i class="material-icons right">manage_search</i>
        </button>
      </div>
    </div>

  </div>
</div>

<!-- display food summary -->
<div class="row" *ngIf="OrderTokenInfo" >

  <div class="row z-depth-4 " >
    <div class="col s2 m2">
      <br>
      <button (click)="OrderTokenInfo=null" style="font-size: 14x;font-weight:bold;font-family: 'Cairo', sans-serif;" class="btn waves-effect waves-light purple btn-large " type="submit" name="action">   <i class="material-icons left">arrow_back</i> Back To HomePage

      </button>
    </div>
    <div class="col m6 offset-m4 " >
      <br>
        <h1 class="center-text" style="font-size: 50px;padding:20px; font-weight:bold;font-family: 'Cairo', sans-serif;color:rgb(11, 6, 159)">WELCOME TO PREGO RESTURANT</h1>
    </div>
  </div>


  <div class="row card large" >
    <div class="col s12 m12">
      <div class="row"></div>
      <div class="row"></div>
    <div class="row" >
        <div
          class="col s3 m3 center z-depth-0"
          style="margin-top: 1%; margin-left: 1%"
        >
          <div class="row">
            <div class="col s12 center">
              <mat-icon style="color: rgb(255, 150, 14)"
                >monetization_on</mat-icon
              >
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 center">
              <h3
                style="
                  font-size: 50px;
                  font-weight: bold;
                  font-family: 'Cairo', sans-serif;
                  color: rgb(0, 0, 2);
                "
              >
                TOKEN NO
              </h3>
              &nbsp;&nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <h3
                style="
                  font-size: 43px;
                  font-weight: normal;
                  font-family: 'Cairo', sans-serif;
                  color: rgb(5, 3, 126);
                "
              >
                {{OrderTokenInfo.id}}
              </h3>
              &nbsp;&nbsp;
            </div>
          </div>

          <div
            class="row z-depth-2"
            style="background-color: rgb(255, 252, 252)"
          >
            <div
              class="col m9 offset-m1 center"
              style="text-align: left; padding: 14px"
            >
              <button mat-button color="primary">
                <mat-icon>info</mat-icon>
                <span style="font-size: 20px">Special Instructions: </span>
              </button>
              <p
                style="
                  text-align: left;
                  margin-top: 3%;
                  margin-left: 8%;
                  font-size: 16px;
                  font-weight: bold;
                  color: rgb(114, 1, 1);
                "
              >
              {{OrderTokenInfo.note}}
              </p>
              &nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="col m1" style="overflow-y: scroll; height: 43vh"></div>

        <div class="col m3 offset-m1 center z-depth-0">
          <div class="row">
            <div class="col m12">
              <h3
                class="center z-depth-3 teal white-text"
                style="
                  padding: 3px;
                  font-family: 'Cairo', sans-serif;
                  font-size: 25px;
                "
              >
                <mat-icon>restaurant</mat-icon>&nbsp; ORDER SUMMARY
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12 animate__animated animate__fadeIn" >

               <ng-container *ngFor="let food of OrderTokenInfo.order_summary ; let i=index" >

                <div class="row" >

                  <div class="col m6" >
                    <h3
                      style="
                        text-align:start;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: 'Cairo', sans-serif;
                      "
                    >
                      <span style="color: rgb(75, 0, 0)">{{food.qty}}</span> &nbsp; x
                      &nbsp;<span style="color: rgb(68, 0, 255)">{{food.name}}</span>
                    </h3>
                  </div>

                  <div class="col m5 offset-m1">
                    <h3
                      style="
                        font-size: 22px;
                        font-weight: bold;
                        font-family: 'Cairo', sans-serif;
                        color: rgb(3, 2, 0);
                      "
                    >
                      {{food.price | currency : "IQD " }}
                    </h3>
                  </div>
                </div>


               </ng-container>
            </div>
          </div>
        </div>
        <div class="col m1" style="overflow-y: scroll;height:34vh"></div>

        <div
          class="col m2 m2 center z-depth-0"
          style="margin-top: 2%; margin-left: 1%"
        >

          <div class="row">
            <div class="col s12 m12 center">
              <h3
                style="
                  font-size: 30px;
                  font-weight: normal;
                  font-family: 'Cairo', sans-serif;
                  color: rgb(25, 77, 235);
                "
              >
                <mat-icon>payments</mat-icon> Payable Amount
              </h3>
              &nbsp;&nbsp;
              <h3
                style="
                  font-size: 35px;
                  font-weight: bold;
                  font-family: 'Cairo', sans-serif;
                  color: rgb(127, 0, 247);
                "
              >
                &nbsp;{{ OrderTokenInfo.total_amount | currency : "IQD " }}
              </h3>
              &nbsp;&nbsp;
            </div>
          </div>
          <div class="row"  >
            <div class="col m11 offset-m1">

              <h3
              *ngIf="OrderTokenInfo.orderCompleted=='waiting'"
             class=" z-depth-3 teal-text flow-text"
             style="
               text-align:start;
               border:1px solid rgb(76, 34, 2);
               padding: 19px;
               font-weight:bold;
               font-family: 'Cairo', sans-serif;
               font-size: 18px;
             "
           >

            <span style="color:rgb(76, 34, 2);"> ORDER STATUS :&nbsp;</span> <span style="  font-weight:bold;color:rgb(76, 34, 2);"> Waiting</span>
           </h3>
              <h3
              *ngIf="OrderTokenInfo.orderCompleted=='accept'"
             class=" z-depth-3 teal-text flow-text"
             style="
               text-align:start;
               border:1px solid rgb(76, 34, 2);
               padding: 19px;
               font-weight:bold;
               font-family: 'Cairo', sans-serif;
               font-size: 18px;
             "
           >

            <span style="color:rgb(76, 34, 2);"> ORDER STATUS :&nbsp;</span> <span style="  font-weight:bold;color:rgb(76, 34, 2);"> Accepted</span>
           </h3>
              <h3
                *ngIf="OrderTokenInfo.orderCompleted=='deliver'"
                class=" z-depth-3 teal-text flow-text"
                style="
                  text-align:start;
                  padding: 19px;
                  border:1px solid rgb(3, 109, 25);
                  font-weight:bold;
                  font-family: 'Cairo', sans-serif;
                  font-size: 18px;
                "
              >

               <span style="color:rgb(3, 109, 25)"> ORDER STATUS : &nbsp;</span> <span style="  font-weight:bolder;color:rgb(3, 109, 25)"> Delivered</span>
              </h3>
              <h3
                 *ngIf="OrderTokenInfo.orderCompleted=='prepare'"
                class=" z-depth-3 teal-text flow-text"
                style="
                  text-align:start;
                  border:1px solid rgb(246, 6, 6);
                  padding: 19px;
                  font-weight:bold;
                  font-family: 'Cairo', sans-serif;
                  font-size: 18px;
                "
              >

               <span style="color:rgb(246, 6, 6);"> ORDER STATUS :&nbsp;</span> <span style="  font-weight:bold;color:rgb(246, 6, 6)"> Preparing</span>
              </h3>

            </div>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col m10 offset-m1">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="row"></div>
 <div class="row"></div>
  <div class="row" *ngIf="!thank_you_msg">
    <div class="col m9 offset-m2" >
      <div class="row"  >
        <div class="col m4">
          <button
            (click)="callWaiter()"
            style="
              font-size: 19px;
              font-weight: bold;
              font-family: 'Cairo', sans-serif;
            "
            class="btn waves-effect waves-light white-text deep-purple darken-4 btn-large"
            type="submit"
            name="action"
            [disabled]="call_waiter_status"
          >
           {{ call_waiter_status?'Waiter is coming':'CALL WAITER'}} &nbsp;
            <i class="material-icons right">call</i>
        </button>
         </div>


            <div class="col m4 center-text">
              <button
              (click)="pay_bill()"
              style="
                font-size: 19px;
                font-weight: bold;
                font-family: 'Cairo', sans-serif;
              "
              class="btn waves-effect waves-light white-text orange darken-4 btn-large"
              type="submit"
              name="action"
              [disabled]="OrderTokenInfo.paid_status"
            >
              <!-- {{ paid_amount_status?'PAID SUCCESSFULLY':payment_mode_btn_status?payment_mode_btn_status:'PAY BILL' }} -->
                {{paid_amount_status==true?'PAID SUCCESSFULLY':payment_mode_btn_status?payment_mode_btn_status:'PAY BILL'}}
                 <!-- PAY BILL -->
              <i class="material-icons right">receipt_long</i>
              </button>
            </div>
         <div class="col m3 offset-m1">
          <button
            (click)="share_experience()"
            style="
              font-size: 19px;
              font-weight: bold;
              font-family: 'Cairo', sans-serif;
            "
            class="btn waves-effect waves-light white-text green btn-large"
            type="submit"
            name="action"
          >
            SHARE EXPERIENCE&nbsp;
            <i class="material-icons right">thumb_up</i>
          </button>
         </div>




      </div>
    </div>
  </div>

   <div class="row" *ngIf="thank_you_msg">
      <div class="col m12">
          <div class="row">
            <div class="col m12 center">

              <h3 style="font-size: 22px;font-weight:bold;font-family: 'Cairo', sans-serif; color:rgb(3, 2, 0)"> Thank You..! </h3>


           </div>
          </div>
          <div class="row ">
            <div class="col m12  center  mat-dialog-actions" >
              <h3 style="font-size: 30px;font-weight:bold;font-family: 'Cairo', sans-serif; color:rgb(231, 104, 0)"> <mat-icon>eco</mat-icon> &nbsp;  Prego is glad to serve you,Have a Great Time.&nbsp; <mat-icon>eco</mat-icon> </h3> &nbsp;&nbsp;

            </div>
           </div>
      </div>
   </div>
</div>
