/* #imgCover{
  background-image: url('https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg') !important;
} */

.iris {
  background-image: url("https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 1px 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
 /* background-image: linear-gradient(180deg,#380036 0%, #0CBABA 99%); */
 background-image: linear-gradient(180deg,#f3ecf3 0%, #181e1e 99%);
  border-radius: 10px;
  height: 100px;
}


