<div class="row z-depth-1 black">
  <div class="col m12 s12">
    <app-header></app-header>
  </div>
</div>
<div class="row ">
  <div class="col s12 m12 " style="overflow-y: scroll; height: 90vh">

     <ng-container *ngFor="let orderInfo of orderDetails.reverse();" >

      <div class="card medium">
        <div class="row" >
          <div
            class="col s3 m3 center z-depth-0"
            style="margin-top: 1%; margin-left: 1%"
          >
            <div class="row">
              <div class="col s12 center">
                <mat-icon style="color: rgb(255, 150, 14)"
                  >monetization_on</mat-icon
                >
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 center">
                <h3
                  style="
                    font-size: 50px;
                    font-weight: bold;
                    font-family: 'Cairo', sans-serif;
                    color: rgb(0, 0, 2);
                  "
                >
                  TOKEN NO
                </h3>
                &nbsp;&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h3
                  style="
                    font-size: 43px;
                    font-weight: normal;
                    font-family: 'Cairo', sans-serif;
                    color: rgb(5, 3, 126);
                  "
                >
                  {{orderInfo.id}}
                </h3>
                &nbsp;&nbsp;
              </div>
            </div>

            <div
              class="row z-depth-2"
              style="background-color: rgb(255, 252, 252)"
            >
              <div
                class="col m9 offset-m1 center"
                style="text-align: left; padding: 14px"
              >
                <button mat-button color="primary">
                  <mat-icon>info</mat-icon>
                  <span style="font-size: 20px">Special Instructions: </span>
                </button>
                <p
                  style="
                    text-align: left;
                    margin-top: 3%;
                    margin-left: 8%;
                    font-size: 16px;
                    font-weight: bold;
                    color: rgb(114, 1, 1);
                  "
                >
                {{orderInfo.note}}
                </p>
                &nbsp;&nbsp;
              </div>
            </div>
          </div>
          <div class="col m1" style="overflow-y: scroll; height: 43vh"></div>

          <div class="col m3 offset-m1 center z-depth-0">
            <div class="row">
              <div class="col m12">
                <h3
                  class="center z-depth-3 teal white-text"
                  style="
                    padding: 3px;
                    font-family: 'Cairo', sans-serif;
                    font-size: 25px;
                  "
                >
                  <mat-icon>restaurant</mat-icon>&nbsp; ORDER SUMMARY
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 animate__animated animate__fadeIn" style="overflow-y: scroll;height:34vh">

                 <ng-container *ngFor="let food of orderInfo.order_summary ; let i=index" >

                  <div class="row" >

                    <div class="col m6" >
                      <h3
                        style="
                          text-align:start;
                          font-size: 20px;
                          font-weight: bold;
                          font-family: 'Cairo', sans-serif;
                        "
                      >
                        <span style="color: rgb(75, 0, 0)">{{food.qty}}</span> &nbsp; x
                        &nbsp;<span style="color: rgb(68, 0, 255)">{{food.name}}</span>
                      </h3>
                    </div>

                    <div class="col m5 offset-m1">
                      <h3
                        style="
                          font-size: 22px;
                          font-weight: bold;
                          font-family: 'Cairo', sans-serif;
                          color: rgb(3, 2, 0);
                        "
                      >
                        {{food.price | currency : "IQD " }}
                      </h3>
                    </div>
                  </div>


                 </ng-container>
              </div>
            </div>
          </div>
          <div class="col m1" style="overflow-y: scroll; height: 43vh"></div>

          <div
            class="col m2 m2 center z-depth-0"
            style="margin-top: 2%; margin-left: 1%"
          >

            <div class="row">
              <div class="col s12 m12 center">
                <h3
                  style="
                    font-size: 30px;
                    font-weight: normal;
                    font-family: 'Cairo', sans-serif;
                    color: rgb(25, 77, 235);
                  "
                >
                  <mat-icon>payments</mat-icon> Payable Amount
                </h3>
                &nbsp;&nbsp;
                <h3
                  style="
                    font-size: 35px;
                    font-weight: bold;
                    font-family: 'Cairo', sans-serif;
                    color: rgb(127, 0, 247);
                  "
                >
                  &nbsp;{{ orderInfo.total_amount | currency : "IQD " }}
                </h3>
                &nbsp;&nbsp;
              </div>
            </div>
            <div class="row" *ngIf="orderInfo.payment_mode">
              <div class="col m11 ">
                 <label>
                  <input type="checkbox" [checked]="orderInfo.paid_status" />
                  <span style="font-weight: bolder; font-size:19px"> PAID BY : {{orderInfo.payment_mode | uppercase}} </span>
                </label>

              </div>
            </div>
            <div class="row"  >
              <div class="col m11 offset-m1">
                <!-- <button
                  style="
                    font-size: 15px;
                    font-weight: bold;
                    font-family: 'Cairo', sans-serif;
                  "
                  class="btn waves-effect waves-light purple btn-large"
                  type="submit"
                  name="action"
                >
                  Check Order Status
                  <i class="material-icons right">arrow_outward</i>
                </button> -->
                <h3
                *ngIf="orderInfo.orderCompleted=='waiting'"
               class=" z-depth-3 teal-text flow-text"
               style="
                 text-align:start;
                 border:1px solid rgb(76, 34, 2);
                 padding: 19px;
                 font-weight:bold;
                 font-family: 'Cairo', sans-serif;
                 font-size: 18px;
               "
             >

              <span style="color:rgb(76, 34, 2);"> ORDER STATUS :&nbsp;</span> <span style="  font-weight:bold;color:rgb(76, 34, 2);"> Waiting</span>
             </h3>
                <h3
                *ngIf="orderInfo.orderCompleted=='accept'"
               class=" z-depth-3 teal-text flow-text"
               style="
                 text-align:start;
                 border:1px solid rgb(76, 34, 2);
                 padding: 19px;
                 font-weight:bold;
                 font-family: 'Cairo', sans-serif;
                 font-size: 18px;
               "
             >

              <span style="color:rgb(76, 34, 2);"> ORDER STATUS :&nbsp;</span> <span style="  font-weight:bold;color:rgb(76, 34, 2);"> Accepted</span>
             </h3>
                <h3
                  *ngIf="orderInfo.orderCompleted=='deliver'"
                  class=" z-depth-3 teal-text flow-text"
                  style="
                    text-align:start;
                    padding: 19px;
                    border:1px solid rgb(3, 109, 25);
                    font-weight:bold;
                    font-family: 'Cairo', sans-serif;
                    font-size: 18px;
                  "
                >

                 <span style="color:rgb(3, 109, 25)"> ORDER STATUS : &nbsp;</span> <span style="  font-weight:bolder;color:rgb(3, 109, 25)"> Delivered</span>
                </h3>
                <h3
                   *ngIf="orderInfo.orderCompleted=='prepare'"
                  class=" z-depth-3 teal-text flow-text"
                  style="
                    text-align:start;
                    border:1px solid rgb(246, 6, 6);
                    padding: 19px;
                    font-weight:bold;
                    font-family: 'Cairo', sans-serif;
                    font-size: 18px;
                  "
                >

                 <span style="color:rgb(246, 6, 6);"> ORDER STATUS :&nbsp;</span> <span style="  font-weight:bold;color:rgb(246, 6, 6)"> Preparing</span>
                </h3>

              </div>
            </div>

            <div class="row" *ngIf="orderInfo.calling_waiter">
              <div class="col m10 offset-m1 pulse">
                <h2 style="font-size: 20px; color:rgb(234, 34, 34)">

                  <a class="btn-floating btn cyan pulse"><i class="material-icons">call</i></a>
                  customer is calling..
                </h2>
              </div>
            </div>
            <div class="row" *ngIf="orderInfo.rating">
              <div class="col m10 offset-m1">


                  <span style="font-size: 20px;color:purple"> Rating :  <mat-icon style="color: orange" *ngFor="let i of counter(orderInfo.rating)">star</mat-icon> </span>


              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>

     </ng-container>

  </div>
</div>
